:root {

  --light-green: rgb(175, 214, 126);
  --middle-green: rgb(85, 140, 106);
  --dark-green: rgb(3, 46, 13);
  --light-brown: rgb(226, 192, 153);
  --lightest-brown: rgb(255 233 152);
  --dark-brown: rgb(58, 53, 52);
  --red-brown: rgb(255 155 92);

  --beach-grey: rgba(103, 133, 139, 1);
  --dark-blue: rgba(33, 57, 72, 1);
  --middle-blue: rgb(41, 81, 145);
  --light-blue: rgb(175, 203, 229);
  --beach-white: rgb(243 247 246);
  --beach-yellow: rgb(255, 255, 165);

  --dark-text: var(--dark-brown);
  --light-text: var(--light-green);
  --dark-background: var(--dark-green);
  --highlight: var(--light-green);
}


body {

}

.card {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: var(--dark-green) 0px 15px 20px -20px, rgba(0, 0, 0, 0.3) 0px 5px 20px -30px;
}
.card:hover {
  box-shadow: var(--dark-green) 0px 20px 50px -20px, rgba(0, 0, 0, 0.3) 0px 10px 40px -30px;
}



.light-brown {
  background-color: var(--light-brown);
  border: 1px solid var(--dark-brown);
  color: var(--dark-brown);

}
.lightest-brown {
  background-color: var(--lightest-brown);
  border: 1px solid var(--dark-brown);
  color: var(--dark-green);
}

.light-green {
  background-color: var(--light-green);
  border: 1px solid var(--dark-brown);
  color: var(--dark-brown);
}
.middle-green {
  background-color: var(--middle-green);
  border: 1px solid var(--dark-brown);
  color: var(--dark-green);
}
.dark-green {
  background-color: var(--dark-green);
  border: 1px solid var(--dark-brown);
  color: var(--middle-green);
}

.light-blue {
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
  color: var(--middle-blue);
}
.grey {
  background-color: var(--beach-grey);
  border: 1px solid var(--dark-blue);
  color: var(--beach-white);
}
.dark-blue {
  background-color: var(--dark-blue);
  border: 1px solid var(--beach-grey);
  color: var(--beach-white);
}

.top .btn-primary {
  background-color: var(--red-brown);
  border: 1px solid var(--dark-brown);
  color: var(--dark-text)
}

.top .btn-primary:hover {
  background-color: var(--light-green);
  border: 1px solid var(--dark-green);
}

.bottom .btn-primary {
  background-color: var(--light-green);
  border: 1px solid var(--dark-brown);
  color: var(--dark-text)
}

.bottom .btn-primary:hover {
  background-color: var(--dark-green);
  border: 1px solid var(--dark-green);
  color: var(--light-text)
}

.beach .btn-primary {
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue)
}

.beach .btn-primary:hover {
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  color: var(--light-blue)
}

.dark-blue .btn-primary:hover {
  /* background-color: var(--middle-green); */
  border: 1px solid var(--light-blue);
  color: var(--light-blue)
}

.dark-green .btn-primary:hover {
  /* background-color: var(--middle-green); */
  border: 1px solid var(--light-green);
  color: var(--light-text)
}
.light-green .btn-primary:hover {
  background-color: var(--middle-green);
  border: 1px solid var(--light-green);
  color: var(--light-text)
}

.gradient {
  border-radius: 5px;
  margin: 10px;
  height: 20vh;
}

.green.gradient {
  background: linear-gradient(90deg, var(--dark-green) 0%, var(--light-green) 100%);
}

.brown.gradient {
  background: linear-gradient(90deg, var(--light-brown) 0%, var(--dark-brown) 100%);
}

.beach.gradient {
  background: linear-gradient(90deg, var(--dark-blue), var(--beach-grey), var(--light-blue));
}

.card img  {
  border-radius: 50%;
  height: 5em;
  position: absolute;
  top: 15px;
  right: 15px;
}