:root {

  --light-green: rgb(175, 214, 126);
  --middle-green: rgb(85, 140, 106);
  --dark-green: rgb(3, 46, 13);

  --light-brown: rgb(226, 192, 153);
  --lightest-brown: rgb(255 233 152);
  --dark-brown: rgb(58, 53, 52);
  --red-brown: rgb(255 155 92);

  --beach-grey: rgba(103, 133, 139, 1);
  --dark-blue: rgba(33, 57, 72, 1);
  --light-blue: rgb(175, 203, 229);
  --beach-white: rgb(243 247 246);
}


.card {
  background-color: var(--card-background-color);
  color: var(--card-color);
  border: 1px solid var(--card-color);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  box-shadow: var(--card-background-color) 0px 15px 20px -20px, rgba(0, 0, 0, 0.3) 0px 5px 20px -30px;
}
.card:hover {
  box-shadow: var(--card-background-color) 0px 20px 50px -20px, rgba(0, 0, 0, 0.3) 0px 10px 40px -30px;
}

.light-brown {
  --card-background-color: var(--light-brown);
  --card-color: var(--dark-brown);

}
.lightest-brown {
  --card-background-color: var(--lightest-brown);
  --card-color: var(--dark-brown);
}
.dark-brown {
  --card-background-color: var(--dark-brown);
  --card-color: var(--lightest-brown);
}

.light-green {
  --card-background-color: var(--light-green);
  --card-color: var(--dark-green);
}

.middle-green {
  --card-background-color: var(--middle-green);
  --card-color: var(--dark-green);
}

.dark-green {
  --card-background-color: var(--dark-green);
  --card-color: var(--middle-green);
}

.light-blue {
  --card-background-color: var(--light-blue);
  --card-color: var(--middle-blue);
}

.grey {
  --card-background-color: var(--beach-grey);
  --card-color: var(--beach-white);
}

.dark-blue {
  --card-background-color: var(--dark-blue);
  --card-color: var(--beach-white);
}

.btn-primary {
  background-color: var(--card-color);
  border: 1px solid var(--card-color);
}

.btn-primary:hover {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-color);
  color: var(--card-color)
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--card-color);
}

.btn-primary:focus {
  background-color: var(--card-background-color);
  border: 1px solid var(--card-color);
  color: var(--card-color)
}

.gumtree .btn-primary {
  background-color: var(--red-brown);
}

.dark-brown .btn-primary:hover {
  border: 1px solid var(--dark-brown);
  color: var(--dark-brown)
}

.dark-brown .btn-primary:focus {
  background-color: var(--light-brown);
  color: var(--card-background-color)
}

.dark-brown .btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--light-brown);
}

.dark-green .btn-primary:hover {
  border: 1px solid var(--light-green);
  color: var(--light-green)
}

.light-green .btn-primary:hover {
  background-color: var(--middle-green);
  border: 1px solid var(--light-green);
}

.beach .btn-primary {
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue)
}

.beach .btn-primary:hover {
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
  color: var(--light-blue)
}

.dark-blue .btn-primary:hover {
  border: 1px solid var(--light-blue);
}



.gradient {
  border-radius: 5px;
  margin: 10px;
  height: 20vh;
}

.green.gradient {
  background: linear-gradient(90deg, var(--dark-green) 0%, var(--light-green) 100%);
}

.brown.gradient {
  background: linear-gradient(90deg, var(--light-brown) 0%, var(--dark-brown) 100%);
}

.beach.gradient {
  background: linear-gradient(90deg, var(--dark-blue), var(--beach-grey), var(--light-blue));
}

.card img  {
  border-radius: 50%;
  height: 5em;
  position: absolute;
  top: 15px;
  right: 15px;
}